{% extends 'land/base.html' %}
{% block content %}
{% load static %}

<!-- starting of sign in  page  -->
<main class="container-fluid bg-dark m-0 p-1">
    <!-- the dialouge space for the sign in  page  -->
    <section class="container-fluid bg-dark text-danger text-center p-0 m-0">
        <h5 class="fw-bold m-0 p-0 ">
            Welcome Back 
        </h5>
    </section>

    <!-- heading of the sign in  section page  -->
    <section class="container-fluid bg-dark text-warning text-center p-0 m-0">
        <h1 class="fw-bold text-capitalize m-0 p-0 ">Sign In</h1>
    </section>
</main>



{% endblock %}