{% extends 'land/base.html' %}
{% block content %}
{% load static %}


<!-- this is about page stating  -->
<main class="container-fluid bg-dark m-0 p-1">
    <!-- the dialogue space for the about page of the site  -->
    <section class="container-fluid bg-dark text-danger text-center p-0 m-0">
        <h5 class="fw-bold m-0 p-0 ">
            information(data)=>pow(e,r)
        </h5>
    </section>
    <!-- heading of the about page  -->
    <section class="container-fluid bg-dark text-warning text-center p-0 m-0">
        <h1 class="fw-bold text-capitalize m-0 p-0 ">about us</h1>
    </section>
    <!-- the about us content goes here  -->
    <section class="container-fluid text-center m-0 p-2 bg-dark">
        <article class="p-2 m-0">
            <span class="fw-bold">W</span>e are very happy to know that you are intrested in knowing about 
        <span class="text-success fw-bold">AbhiCode</span>, and we appreciate that.
        </article>

        <article class="p-2 m-0">
            <span class="text-info fw-bold">AbhiShekGedelaCode</span> (ABHISHEK GEDELA) 
            is the creator, developer and admin of the 
            <span class="text-info fw-bold">AbhiCode</span>. 
            This Abhicode is a <span class="fw-bold">peer to peer</span>
            initiation to develop a network connection between peers to share 
            ideas and to improve skills. Sharing knowlede and ideas among themselves 
            to come with better ethical technology for the future.
        </article>
    </section>
    <section class="container-fluid text-center m-0 p-2 bg-dark">
        <article class="p-2 m-0">
            Team <span class="fw-bold">AbhiCode</span> is providing data, information or content through 
            various sources from different platforms in multiple available formats such as they may be video content,
            blog posts or a material based content. The data available in the site may or may not be our own content, 
            but it is sure that we are using it legally. No bad practices or black hat tricks are used. You are safe to 
            surf on the AbhiCode webpages.
        </article>
        <article class="p-2 m-0">
            As we mentioned above, the data is available in various formats in different platforms.
            The <span class="fw-bold">video</span> section is mostly on <span class="fw-bold text-info">YouTube</span>, the 
            most popular video browsing platform. And for the <span class="fw-bold">blogs</span> we are using 
            <span class="fw-bold text-info">blogspot</span> platform provided by Google. The <span class="fw-bold">source code</span> 
            can be found in our <span class="fw-bold text-info">github</span> page. <span class="fw-bold">Note</span> making may found 
            in the site itself. Finally, the popuplar social media platform links such as <span class="fw-bold text-info">facebook</span>, 
            <span class="fw-bold text-info">instagram</span> are integrated with the <span class="fw-bold">AbhiCode</span> website and they can be
            prefered if you guys are intrested.
        </article>
        <atricle class="m-0 p-2">
            There are two more additional features in our <span class="fw-bold">AbhiCode</span>. They 
            are <span class="fw-bold text-info">Gallery</span> and <span class="fw-bold text-info">Glossary</span>. 
            The gallery section will have all famous code or algoritms in image formats and their outputs are also 
            attached to them. On the otherhand glossary section will have all importants keywords or terminology required
            for a peer in the technical world.
        </atricle>
    </section>
    <section class="container-fluid text-center m-0 p-2 bg-dark">
        <article class="m-0 p-2">
            <span class="fw-bold text-danger">Note: </span> A kind request, If any mistake or fault is noticed,
            please feel free to inform us. The contacts are clearly mentioned in the contacts page. 
            The genuine issues are rectified immediately and step forwords for the corrections.
        </article>
    </section>
    <!-- thank you of the about page 0 -->
    <section class="container-fluid text-center m-0 p-2 bg-dark">
        <article class="m-0 p-2">
            <h5 class="fw-bold text-center text-danger">
                Thank You !
            </h5>
        </article>
    </section>
</main>
{% endblock %}