{% extends 'land/base.html' %}
{% block content %}
{% load static %}

<!-- starting of contacts  page  -->
<main class="container-fluid bg-dark m-0 p-1">
    <!-- the dialouge space for the contacts page  -->
    <section class="container-fluid bg-dark text-danger text-center p-0 m-0">
        <h5 class="fw-bold m-0 p-0 ">
            At Your Service
        </h5>
    </section>

    <!-- heading of the contacts section page  -->
    <section class="container-fluid bg-dark text-warning text-center p-0 m-0">
        <h1 class="fw-bold text-capitalize m-0 p-0 ">contact us</h1>
    </section>
    <!-- the beat around the bush for contact page started  -->
    <section class="container-fluid bg-dark text-center p-2 m-0">
        <atricle class="p-2 m-0">
            <span class="fw-bold">F</span>eel free to contacts us in any one the platform we provided here.
            But we suggest you to use our website comments section in the homepage, because it is the best way to 
            contact us and report your problems or any messages.
        </atricle>
    </section>

    <!-- different social media platform links  -->
    <section class="p-2 m-0 px-md-5 d-flex justify-content-center">
        <div class="container m-0 p-2 d-flex flex-column text-center">
            <!-- youtube link here  -->
            <div class="container p-1">
                <!-- YouTube channel link  -->
                <a
                href="https://www.youtube.com/channel/UCoOZmJyg8TnQuqAeNPaAPKA"
                class="btn btn-outline-danger btn-sm fw-bold"
                target="_blank"
                >YouTube: AbhiShekGedelaCode</a
                >
            </div>

            <!-- linked in acount link  -->
            <div class="container p-1">
                <a
                href="https://www.linkedin.com/in/abhishek-gedela-7b06511aa/"
                class="btn btn-outline-info btn-sm fw-bold"
                target="_blank"
                >LinkedIn: Abhishek Gedela</a
                >
            </div>
            <!-- github account link  -->
            <div class="container p-1">
                <a
                href="https://github.com/abhishekgedelacode"
                class="btn btn-outline-warning btn-sm fw-bold"
                target="_blank"
                >GitHub: abhishekgedelacode</a
                >
            </div>

            <!-- facebook account  -->
            <div class="container p-1">
                <a
                href="https://www.facebook.com/abhishek.gedela/"
                class="btn btn-outline-primary btn-sm fw-bold"
                target="_blank"
                >FaceBook: Abhishek Gedela</a
                >
            </div>

            <!-- instagram goes here -->
            <div class="container p-1">
                <a
                href="https://www.instagram.com/abhishekgedela/"
                class="btn btn-outline-danger btn-sm fw-bold"
                target="_blank"
                >InstaGram: abhishekgedela</a
                >
            </div>

            <!-- blog post page link  -->
            <div class="container p-1">
                <a
                href="https://abhishekgedelacode.blogspot.com/"
                target="_blank "
                class="btn btn-outline-warning btn-sm fw-bold"
                >abhishekgedelacode.blogspot.com</a
                >
            </div>
            
        </div>
    </section>

    <!-- mentioning our physical address and gmail address  -->
    <section class="container-fluid bg-dark text-center p-2 m-0">
        <atricle class="p-2 m-0">
            There is no physical address yet for our <span class="fw-bold">AbhiCode</span> communinity.
            We will arrange it as soon as possible. But our operational email address for now is 
            <span class="fw-bold">gabhishekji123@gmail.com</span> and you are always welcome to mail us 
            if required. 
        </atricle>
    </section>

    <!-- thank you for the contacts page  -->
    <section class="container-fluid text-center m-0 p-2 bg-dark">
        <article class="m-0 p-2">
            <h5 class="fw-bold text-center text-danger">
                Thank You !
            </h5>
        </article>
    </section>
</main>



{% endblock %}