{% extends 'land/base.html' %}
{% block content %}
{% load static %}

<h1>contacts page </h1>
<div class="container-fluid m-0 p-1">
    <div class="row d-flex justify-content-around m-0 p-1">
        <figure class="figure col-md-3 shadow-lg m-1 p-0">
            <img src="{% static 'land/1.jpeg' %}" class="figure-img img-fluid rounded w-100" alt="testing">
            <figcaption class="figure-caption text-center">Hello world program using c</figcaption>
        </figure>
        <figure class="figure col-md-3 shadow-lg m-1 p-0">
            <img src="{% static 'land/2.jpeg' %}" class="figure-img img-fluid rounded w-100" alt="testing">
            <figcaption class="figure-caption text-center">Hello world program using c</figcaption>
        </figure>
        <figure class="figure col-md-3 shadow-lg m-1 p-0">
            <img src="{% static 'land/3.jpeg' %}" class="figure-img img-fluid rounded w-100" alt="testing">
            <figcaption class="figure-caption text-center">Hello world program using c</figcaption>
        </figure>
        <figure class="figure col-md-3 shadow-lg m-1 p-0">
            <img src="{% static 'land/4.jpeg' %}" class="figure-img img-fluid rounded w-100" alt="testing">
            <figcaption class="figure-caption text-center">Hello world program using c</figcaption>
        </figure>
        <figure class="figure col-md-3 shadow-lg m-1 p-0">
            <img src="{% static 'land/5.jpeg' %}" class="figure-img img-fluid rounded w-100" alt="testing">
            <figcaption class="figure-caption text-center">Hello world program using c</figcaption>
        </figure>
        <figure class="figure col-md-3 shadow-lg m-1 p-0">
            <img src="{% static 'land/6.jpeg' %}" class="figure-img img-fluid rounded w-100" alt="testing">
            <figcaption class="figure-caption text-center">Hello world program using c</figcaption>
        </figure>
        <figure class="figure col-md-3 shadow-lg m-1 p-0">
            <img src="{% static 'land/7.jpeg' %}" class="figure-img img-fluid rounded w-100" alt="testing">
            <figcaption class="figure-caption text-center">Hello world program using c</figcaption>
        </figure>
    </div>
</div>


{% endblock %}