{% extends 'land/base.html' %}
{% block content %}
{% load static %}

<!-- starting of posts page  -->
<main class="container-fluid bg-dark m-0 p-1">
    <!-- the dialouge space for the posts page  -->
    <section class="container-fluid bg-dark text-danger text-center p-0 m-0">
        <h5 class="fw-bold m-0 p-0 ">
            I can and I will
        </h5>
    </section>

    <!-- heading of the posts section page  -->
    <section class="container-fluid bg-dark text-warning text-center p-0 m-0">
        <h1 class="fw-bold text-capitalize m-0 p-0 ">posts section</h1>
    </section>

    <!-- the main section of the posts starts here  -->
    <section class="container p-2 px-md-5 bg-dark">
        <!-- video post section  -->
        <div class="container my-1 px-md-5 border border-3 border-success rounded">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple default list group item</a> 
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple primary list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple secondary list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple success list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple danger list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple warning list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple info list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple light list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple dark list group item</a>
            </div>
        </div>
        <!-- blog post section  -->
        <div class="container my-1 px-md-5 border border-3 border-info rounded">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple default list group item</a> 
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple primary list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple secondary list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple success list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple danger list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple warning list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple info list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple light list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple dark list group item</a>
            </div>
        </div>

        <!-- the posts for the images  -->
        <div class="container my-1 px-md-5 border border-3 border-success rounded">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple default list group item</a> 
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple primary list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple secondary list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple success list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple danger list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple warning list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple info list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple light list group item</a>
                <a href="#" class="list-group-item text-center text-light bg-dark">A simple dark list group item</a>
            </div>
        </div>
        
    </section>

</main>



{% endblock %}